
    <div class="u-background-95 u-hiddenPrint">
        <div class="u-layout-wide u-layoutCenter u-layout-r-withGutter">
            <footer class="Footer u-background-95">

                <div class="u-cf">
                    {% if site.footer_logo %}
                    <img class="Footer-logo" src="{{ site.footer_logo | relative_url }}" alt="Logo">
                    {% endif %}
                    <p class="Footer-siteName">
                        {{ site.footer_title }}
                        {% if site.footer_subtitle %}
                        <br>
                        <small>{{ site.footer_subtitle}}</small>
                        {% endif %}
                    </p>
                </div>

                {% if site.recapiti1 or site.recapiti2 or site.email or site.pec or site.social_block %}
                <div class="Grid Grid--withGutter">
<!--
                    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
                        <h2 class="Footer-blockTitle">Argomento 1</h2>
                        <ul>
                            <li><a href="">blanditiis soluta exercitationem</a></li>
                            <li><a href="">voluptatem eligendi laboriosam</a></li>
                            <li><a href="">laboriosam porro dolor</a></li>
                            <li><a href="">sed et velit</a></li>
                        </ul>
                    </div>

                    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
                        <h2 class="Footer-blockTitle">Argomento 2</h2>
                        <ul>
                            <li><a href="">blanditiis soluta exercitationem</a></li>
                            <li><a href="">voluptatem eligendi laboriosam</a></li>
                            <li><a href="">laboriosam porro dolor</a></li>
                            <li><a href="">sed et velit</a></li>
                        </ul>
                    </div>

                    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
                        <h2 class="Footer-blockTitle">Argomento 3</h2>
                        <ul>
                            <li><a href="">blanditiis soluta exercitationem</a></li>
                            <li><a href="">voluptatem eligendi laboriosam</a></li>
                            <li><a href="">laboriosam porro dolor</a></li>
                            <li><a href="">sed et velit</a></li>
                        </ul>
                    </div>

                    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
                        <h2 class="Footer-blockTitle">Argomento 4</h2>
                        <ul>
                            <li><a href="">blanditiis soluta exercitationem</a></li>
                            <li><a href="">voluptatem eligendi laboriosam</a></li>
                            <li><a href="">laboriosam porro dolor</a></li>
                            <li><a href="">sed et velit</a></li>
                        </ul>
                    </div>
-->
                    {% if site.recapiti1 or site.recapiti2 %}
                    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
                        <h2 class="Footer-blockTitle">Contatti</h2>
                        <div class="Footer-subBlock">
                            <h3 class="Footer-subTitle">{{ site.recapiti1 }}</h3>
                            <address>
                            {{ site.recapiti2 }}<br>
                            {{ site.recapiti3 }}<br>
                            {{ site.recapiti4 }}
                            </address>
                        </div>
                    </div>
                    {% endif %}

                    {% if site.email or site.pec %}
                    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
                        <h2 class="Footer-blockTitle">&nbsp;</h2>
                        <div class="Footer-subBlock">
                            {% if site.email %}
                            <h3 class="Footer-subTitle">Indirizzo Email</h3>
                            <a href="">{{ site.email }}</a>
                            {% endif %}
                            {% if site.email and site.pec %}
                            <br><br>
                            {% endif %}
                            {% if site.pec %}
                            <h3 class="Footer-subTitle">Indirizzo PEC</h3>
                            <a href="">{{ site.pec }}</a>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}

                    {% if site.social_block %}
                    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
                        <h2 class="Footer-blockTitle">{% if site.social_username %}Segui {{ site.social_username }}{% else %}Seguici su{% endif %}</h2>
                        <div class="Footer-subBlock">
                            <ul class="Footer-socialIcons">
                                {% if site.medium_username %}
                                <li><a href="https://www.medium.com/{{ site.medium_username }}"><span class="Icon Icon-medium"></span><span class="u-hiddenVisually">Medium</span></a></li>
                                {% endif %}
                                {% if site.facebook_username %}
                                <li><a href="https://www.facebook.com/{{ site.facebook_username }}"><span class="Icon Icon-facebook"></span><span class="u-hiddenVisually">Facebook</span></a></li>
                                {% endif %}
                                {% if site.twitter_username %}
                                <li><a href="https://www.twitter.com/{{ site.twitter_username }}"><span class="Icon Icon-twitter"></span><span class="u-hiddenVisually">Twitter</span></a></li>
                                {% endif %}
                                {% if site.youtube_username %}
                                <li><a href="https://youtube.com/{{ site.youtube_username }}"><span class="Icon Icon-youtube"></span><span class="u-hiddenVisually">Youtube</span></a></li>
                                {% endif %}
                                {% if site.linkedin_username %}
                                <li><a href="https://it.linkedin.com/{{ site.linkedin_username }}"><span class="Icon Icon-linkedin"></span><span class="u-hiddenVisually">Linkedin</span></a></li>
                                {% endif %}
                                {% if site.github_username %}
                                <li><a href="https://github.com/{{ site.github_username }}"><span class="Icon Icon-github"></span><span class="u-hiddenVisually">GitHub</span></a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}

                </div>
                {% endif %}

                <ul class="Footer-links u-cf">
                    {% if site.privacy_url %}
                    <li><a href="{{ site.privacy_url }}" title="Privacy policy">Privacy</a></li>
                    {% if site.note_legali_url %}
                    {% endif %}
                    <li><a href="{{ site.note_legali_url }}" title="Note legali">Note legali</a></li>
                    {% if site.contatti_url %}
                    {% endif %}
                    <li><a href="{{ site.contatti_url }}" title="Contatti">Contatti</a></li>
                    {% endif %}
                </ul>

            </footer>

        </div>
    </div>

    <a href="#" title="torna all'inizio del contenuto" class="ScrollTop js-scrollTop js-scrollTo">
  <i class="ScrollTop-icon Icon-collapse" aria-hidden="true"></i>
  <span class="u-hiddenVisually">torna all'inizio del contenuto</span>
</a>

</div>
