<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- <link rel="preload" href="italia_build/IWT.min.js" as="script"> -->
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,400italic,700,' rel='stylesheet' type='text/css' />

  <!-- include HTML5shim per Explorer 8 -->
  <script src="italia_build/vendor/modernizr.js"></script>

  <link media="all" rel="stylesheet" href="{{"italia_build/build.css" | relative_url }}">
  <link media="all" rel="stylesheet" href="{{"assets/personalizza.css" | relative_url }}">

  <script src="{{"italia_build/vendor/jquery.min.js" | relative_url }}"></script>

  <title>
    {% if page.title %}{{ page.title | escape }} - {{ site.title | escape }}
    {% else %}{{ site.title | escape }}{% endif %}
  </title>

  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
</head>
