<div id="cookie-bar" class="CookieBar js-CookieBar u-background-95 u-padding-r-all" aria-hidden="true">
  <p class="u-color-white u-text-r-xs u-lineHeight-m u-padding-r-bottom">Questo sito utilizza cookie tecnici, analytics e di terze parti.
      <br>Proseguendo nella navigazione accetti l’utilizzo dei cookie.<br>
  </p>
  <p>
      <button class="Button Button--default u-text-r-xxs js-cookieBarAccept u-inlineBlock u-margin-r-all">Accetto</button>
      <a href="" class="u-text-r-xs u-color-teal-50">Privacy policy</a>
  </p>
</div>

<ul class="Skiplinks js-fr-bypasslinks u-hiddenPrint">
  <li><a href="#main">Vai al Contenuto</a></li>
  <li><a class="js-fr-offcanvas-open" href="#menu" aria-controls="menu" aria-label="accedi al menu" title="accedi al menu">Vai alla navigazione del sito</a></li>
</ul>

<header class="Header Headroom--fixed js-Headroom u-hiddenPrint">

  {% if site.header_parent_title or site.language_selector %}
  <div class="Header-banner ">
      <div class="Header-owner Headroom-hideme ">
          {% if site.header_parent_title %}
          <a href="{{ site.header_parent_url }}"><span>{{ site.header_parent_title }}</span></a>
          {% endif %}

          {% if site.language_selector %}
          <div class="Header-languages ">
              <a href="#languages" data-menu-trigger="languages" class="Header-language u-border-none u-zindex-max u-inlineBlock">
                <span class="u-hiddenVisually">lingua attiva:</span>
                <span class="">ITA</span>
                <!-- <span class="u-hidden u-md-inlineBlock u-lg-inlineBlock">Italiano</span> -->
                <span class="Icon Icon-expand u-padding-left-xs"></span>
              </a>
              <div id="languages" data-menu class="Dropdown-menu Header-language-other u-jsVisibilityHidden u-nojsDisplayNone">
                <span class="Icon-drop-down Dropdown-arrow u-color-white"></span>
                <ul>
                    <li><a href="#1" class="u-padding-r-all"><span lang="en">English</span></a></li>
                    <li><a href="#3" class="u-padding-r-all"><span lang="de">Deutsch</span></a></li>
                    <li><a href="#8" class="u-padding-r-all"><span lang="es">Español</span></a></li>
                    <li><a href="#4" class="u-padding-r-all"><span lang="fr">Français</span></a></li>
                </ul>
              </div>
          </div>
          {% endif %}
      </div>
  </div>
  {% endif %}

  <div class="Header-navbar ">
      <div class="u-layout-wide Grid Grid--alignMiddle u-layoutCenter">
          {% if site.header_logo %}
          <div class="Header-logo Grid-cell" aria-hidden="true">
              <a href="/" tabindex="-1">
                <img src="{{ site.header_logo | relative_url }}" alt="Logo">
              </a>
          </div>
          {% endif %}

          <div class="Header-title Grid-cell">
              <h1 class="Header-titleLink">
                  <a href="/">{{ site.header_title }}
                    {% if site.header_subtitle %}
                    <br>
                    <small>{{ site.header_subtitle}}</small>
                    {% endif %}
                  </a>
              </h1>
          </div>

          {% if site.search %}
          <div class="Header-searchTrigger Grid-cell">
              <button aria-controls="header-search" class="js-Header-search-trigger Icon Icon-search " title="attiva il form di ricerca" aria-label="attiva il form di ricerca" aria-hidden="false">
              </button>
              <button aria-controls="header-search" class="js-Header-search-trigger Icon Icon-close u-hidden " title="disattiva il form di ricerca" aria-label="disattiva il form di ricerca" aria-hidden="true">
              </button>
          </div>
          {% endif %}

          {% if site.social_block %}
          <div class="Header-utils Grid-cell">
              <div class="Header-social Headroom-hideme">
                  <p>{% if site.social_username %}Segui {{ site.social_username }}{% else %}Seguici su{% endif %}</p>
                  <ul class="Header-socialIcons">
                      {% if site.medium_username %}
                      <li><a href="https://www.medium.com/{{ site.facebook_username }}" title="Medium"><span class="Icon-medium"></span><span class="u-hiddenVisually">Facebook</span></a></li>
                      {% endif %}
                      {% if site.facebook_username %}
                      <li><a href="https://www.facebook.com/{{ site.facebook_username }}" title="Facebook"><span class="Icon-facebook"></span><span class="u-hiddenVisually">Facebook</span></a></li>
                      {% endif %}
                      {% if site.twitter_username %}
                      <li><a href="https://www.twitter.com/{{ site.twitter_username }}" title="Twitter"><span class="Icon-twitter"></span><span class="u-hiddenVisually">Twitter</span></a></li>
                      {% endif %}
                      {% if site.youtube_username %}
                      <li><a href="https://youtube.com/{{ site.youtube_username }}" title="Youtube"><span class="Icon-youtube"></span><span class="u-hiddenVisually">Youtube</span></a></li>
                      {% endif %}
                      {% if site.linkedin_username %}
                      <li><a href="https://it.linkedin.com/{{ site.linkedin_username }}" title="Linkedin"><span class="Icon-linkedin"></span><span class="u-hiddenVisually">Facebook</span></a></li>
                      {% endif %}
                      {% if site.github_username %}
                      <li><a href="https://github.com/{{ site.github_username }}" title="GitHub"><span class="Icon-github"></span><span class="u-hiddenVisually">GitHub</span></a></li>
                      {% endif %}
                  </ul>
              </div>
              {% endif %}

              {% if site.search %}
              <div class="Header-search" id="header-search">
                  <form class="Form">
                      <div class="Form-field Form-field--withPlaceholder Grid u-background-white u-color-grey-30 u-borderRadius-s" role="search">
                          <input class="Form-input Form-input--ultraLean Grid-cell u-sizeFill u-text-r-s u-color-black u-text-r-xs u-borderRadius-s" required id="cerca">
                          <label class="Form-label u-color-grey-50 u-text-r-xxs" for="cerca">cerca nel sito</label>
                          <button class="Grid-cell u-sizeFit Icon-search Icon--rotated u-color-grey-50 u-padding-all-s u-textWeight-700" title="Avvia la ricerca" aria-label="Avvia la ricerca">
                          </button>
                      </div>
                  </form>
              </div>
              {% endif %}
          </div>

          {% if site.mega_menu %}
          <div class="Header-toggle Grid-cell">
              <a class="Hamburger-toggleContainer js-fr-offcanvas-open u-nojsDisplayInlineBlock u-lg-hidden u-md-hidden" href="#menu" aria-controls="menu" aria-label="accedi al menu" title="accedi al menu">
                <span class="Hamburger-toggle" role="presentation"></span>
                <span class="Header-toggleText" role="presentation">Menu</span>
              </a>
          </div>
          {% endif %}

      </div>
  </div>
  <!-- Header-navbar -->

  {% if site.mega_menu %}
  <div class="Headroom-hideme u-textCenter u-hidden u-sm-hidden u-md-block u-lg-block">

      <nav class="Megamenu Megamenu--default js-megamenu " data-rel=".Offcanvas .Treeview"></nav>

  </div>
  {% endif %}

</header>

{% if site.mega_menu %}
<section class="Offcanvas Offcanvas--right Offcanvas--modal js-fr-offcanvas u-jsVisibilityHidden u-nojsDisplayNone u-hiddenPrint" id="menu">
  <h2 class="u-hiddenVisually">Menu di navigazione</h2>
  <div class="Offcanvas-content u-background-white">
      <div class="Offcanvas-toggleContainer u-background-70 u-jsHidden">
          <a class="Hamburger-toggleContainer u-block u-color-white u-padding-bottom-xxl u-padding-left-s u-padding-top-xxl js-fr-offcanvas-close" aria-controls="menu" aria-label="esci dalla navigazione" title="esci dalla navigazione" href="#">
      <span class="Hamburger-toggle is-active" aria-hidden="true"></span>
    </a>
      </div>
      <nav>
          <ul class="Linklist Linklist--padded Treeview Treeview--default js-Treeview u-text-r-xs">
              <li><a href="https://example.com">A est rerum</a>
                  <ul>
                      <li><a href="https://example.com">Autem reiciendis maiores</a></li>
                      <li><a href="https://example.com">Blanditiis soluta exercitationem</a></li>
                      <li>
                          <a href="https://example.com">Voluptatem eligendi laboriosam</a>
                          <ul>
                              <li><a href="https://example.com">Laboriosam porro dolor</a></li>
                              <li><a href="https://example.com">Sed et velit</a>
                                  <ul>
                                      <li><a href="https://example.com">Sed et velit</a></li>
                                      <li><a href="https://example.com">Autem quae numquam</a></li>
                                      <li><a href="https://example.com">Nulla quibusdam necessitatibus</a></li>
                                  </ul>
                              </li>
                              <li><a href="https://example.com">Voluptatibus esse corporis</a></li>
                          </ul>
                      </li>
                      <li><a href="https://example.com">Rem similique expedita</a></li>
                      <li><a href="https://example.com">A est rerum</a></li>
                  </ul>
              </li>
              <li><a href="https://example.com">Voluptatibus esse corporis</a>
                  <ul>
                      <li><a href="https://example.com">Voluptatem eligendi laboriosam</a></li>
                      <li><a href="https://example.com">Blanditiis soluta exercitationem</a></li>
                      <li><a href="https://example.com">Autem reiciendis maiores</a>
                          <ul>
                              <li><a href="https://example.com">Autem quae numquam</a></li>
                              <li><a href="https://example.com">Sed et velit</a></li>
                              <li><a href="https://example.com">Laboriosam porro dolor</a></li>
                          </ul>
                      </li>
                      <li><a href="https://example.com">Nulla quibusdam necessitatibus</a></li>
                      <li><a href="https://example.com">Voluptatibus esse corporis</a>
                          <ul>
                              <li><a href="https://example.com">Rem similique expedita</a></li>
                              <li><a href="https://example.com">Autem reiciendis maiores</a></li>
                              <li><a href="https://example.com">Blanditiis soluta exercitationem</a></li>
                              <li><a href="https://example.com">Voluptatem eligendi laboriosam</a></li>
                              <li><a href="https://example.com">Laboriosam porro dolor</a></li>
                              <li><a href="https://example.com">Sed et velit</a></li>
                              <li><a href="https://example.com">Autem quae numquam</a></li>
                              <li><a href="https://example.com">Nulla quibusdam necessitatibus</a></li>
                              <li><a href="https://example.com">Voluptatibus esse corporis</a></li>
                          </ul>
                      </li>
                  </ul>
              </li>
              {% if site.mega_menu_accedi %}
              <li data-megamenu-class="u-hidden">
                  <a class="Button u-border-none u-color-95 u-background-compl u-text-r-xxs" href="#">Accedi</a>
              </li>
              {% endif %}
          </ul>

      </nav>
  </div>
</section>
{% endif %}
