/* personalizzazione di colori e stili  */
/* esempio colori "regione umbria" by gg 16.02.2018 */
/* rimuovere questo file css per tornare ai colori standard italia design */

:root {
  --Color-primary: #B7282E;
}

/* grigio scuro */
.t-Pac .Header-banner{background-color:#333333;}
.t-Pac .Header-languages{background-color:#333333;}
.t-Pac .ScrollTop{background-color:#333333!important;}
.t-Pac .is-focus{color:#333333!important;}
/* rosso mattone */
.t-Pac .Header-navbar{background-color:#B3292E;}
.t-Pac .Header-searchTrigger button{background-color:#B3292E;}
.t-Pac .Megamenu--default{background-color:#B3292E;}
.t-Pac .Entrypoint-item{background-color:#B3292E!important;}
.t-Pac .Header-socialIcons [class*=" Icon-"]{color:#B3292E;}
.t-Pac .u-color-50{color:#B3292E!important;}
.t-Pac .u-color-70{color:#B3292E!important;}
.t-Pac .u-background-50{background-color:#B3292E!important;}
/* grigio medio */
.t-Pac .u-background-70{background-color:#666666!important;}
.t-Pac .u-background-95{background-color:#666666!important;}
/* grigio chiaro */
.t-Pac .Offcanvas-toggleContainer{background-color:#A8A8A8;}

/* azzurro */
.t-Pac .Footer-socialIcons [class*=" Icon-"]{background-color:#65dcdf;color:#666666;}

/* blue link */
.t-Pac h3 .u-color-black{color:#06c!important;}
.t-Pac .LinkList a{color:#06c!important;}
.t-Pac .Leads-link.u-color-black{color:#06c!important;}

/* altro */
.t-Pac .Header-titleLink a{font-size:2.6rem!important;}
.t-Pac .Footer-logo{padding-right:0px!important;}
